*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.calc-grid {
  margin-top: 15px;
  border: 1px solid black;
  /* display: flex; */
  display: grid;
  grid-template-columns: 10rem 10rem;
}
